<% layout("/layouts/boilerplate") %>
<body>
    <form method="POST" action="/listing/<%=listingId._id%>?_method=PUT">
        <input name="listing[title" value="<%= listingId.title %>" type="text">
        <br><br>
        <textarea name="listing[description]"><%= listingId.description %></textarea> 
        <br><br>
        <input name="listing[image[url]]" value="<%= listingId.image.url %>" type="text">
        <br><br>
        <input name="listing[price]" value="<%= listingId.price %>" type="number">
        <br><br>
        <input name="listing[location]" value="<%= listingId.location %>" type="text">
        <br><br>
        <input name="listing[country]" value="<%= listingId.country %>" type="text">
        <br><br>
        <button>Edit</button>
    </form>
</body>
