<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3>Edit your listing</h3>
            <form method="POST" action="/listing/<%=listingId._id%>?_method=PUT" class="needs-validation" novalidate>
                <div class="mb-3 mt-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listingId.title %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%= listingId.description %></textarea> 
                    <div class="invalid-feedback">Description should be valid</div>
                </div>
                <div class="mb-3">
                    <label for="image[url]" class="form-label">Image link</label>
                    <input name="listing[image][url]" value="<%= listingId.image.url %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Image url should be valid</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listingId.price %>" type="number" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listingId.country %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div>
                </div>
                <div>
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listingId.location %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                <button class="btn btn-dark edit-btn mt-3">Edit</button>
            </form>
        </div>
    </div>
</body>
