<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-3 mt-3">
            <h3><%= listingId.title %></h3>
        </div>
        <div class="card col-6 offset-3 show-card listing-card">
            <div class="card listing-card">
                <img src="<%= listingId.image.url %>" class="card-img-top show-img listing-card" alt="listing_image">
                <div class="card-body ">
                    <p class="card-text">Owned by: <i><%= listingId.owner.username %></i></p>
                    <p class="card-text">   <%= listingId.description %> </p>
                    <p class="card-text">    &#x20B9 <%=listingId.price.toLocaleString("en-IN") %>  </p>
                    <p class="card-text">  <%= listingId.location %>  </p>
                    <p class="card-text">  <%= listingId.country%> </p>
                </div>
            </div>
            <div class="btns">
                <form method="GET" action="/listing/<%=listingId._id%>/edit">
                    <button class="btn btn-dark edit-btn">Edit</button>
                </form>
                <br><br>
                <form method="POST" action="/listing/<%=listingId._id%>/?_method=DELETE">
                    <button class="btn btn-dark offset-2">Delete</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="col-8 offset-3 mt-3 mb-3">
            <h4 class="mt-3 mb-3">Leave a review</h4>
            <form method="POST" action="/listing/<%=listingId._id %>/reviews" novalidate class="needs-validation">
                <div class="mt-3 mb-3">
                    <label for="review" class="form-label">Rating</label>
                    <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="25" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please add some comments to review</div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
            <hr>
            <p><b>All reviews</b></p>
            <div class="row">
                <% for(let review of listingId.reviews) { %>
                    <div class="card col-5 mb-3 ms-3">
                        <div class="card-body">
                            <h5 class="card-title">Strider</h5>
                            <p class="card-text"><%= review.comment %></p>
                            <p class="card-text"><%= review.rating %>stars</p>
                            <form class="mb-3" method="POST" action="/listing/<%=listingId._id%>/reviews/<%=review._id%>?_method=DELETE">
                                <button class="btn btn-sm btn-dark">Delete</button>
                            </form>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
</body>
