<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-3 mt-3">
            <h3>All Details</h3>
        </div>
        <div class="card col-6 offset-3 show-card">
            <div class="card">
                <img src="<%= listingId.image.url %>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body mt-3">
                    <p class="card-text">
                        <b><%= listingId.title %></b><br>
                        <%= listingId.description %> <br>
                        &#x20B9 <%=listingId.price.toLocaleString("en-IN") %>  <br>
                        <%= listingId.location %>  <br>
                        <%= listingId.country%>
                    </p>
                </div>
            </div>
            <div class="btns">
                <form method="GET" action="/listing/<%=listingId._id%>/edit">
                    <button class="btn btn-dark edit-btn">Edit</button>
                </form>
                <br><br>
                <form method="POST" action="/listing/<%=listingId._id%>/?_method=DELETE">
                    <button class="btn btn-dark offset-2">Delete</button>
                </form>
            </div>
        </div>
    </div>
</body>
