<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>All Details</h3>
    <ul>
        <li><%= listingId.title %></li>
        <li><%= listingId.description %></li>
        <li>&#x20B9 <%=listingId.price.toLocaleString("en-IN") %></li>
        <li><%= listingId.location %></li>
        <li><%= listingId.country%></li>
    </ul>
    <br><br>
    <a href="/listing/<%=listingId._id%>/edit">Edit this listing</a>
    <br><br>
    <form method="POST" action="/listing/<%=listingId._id%>/?_method=DELETE">
        <button>Delete this listing</button>
    </form>
</body>
</html>